HELP.md
target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

.env
.terraform
.terraform.*
/terraform/plans/
terraform.tfstate*
/kubernetes/secret.yaml
/terraform/credentials
/terraform/bastion_key.pub
/terraform/bastion_key
/kubernetes/kubernetes-ingress/
/ansible/test.yaml
